.body-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--body-color);
    padding: 1rem;
    width: auto;
    height: auto;
    
}
.login-body-link{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-highlight);
    transition: var(--all-transitions);
    text-decoration: none;
}
.login-body-link::before{
    content: "👈";
    position: relative;
    bottom: 4px;
    margin: 0.5rem;
}
.login-body-link:hover{
    transform: scale(1.25);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5a7cd2bf;
    padding: 0.5rem 0.5rem 1rem;
    border-radius: 1rem;
    gap: 0.75rem;
    width: 300px;
    box-shadow: 0 0 0 0.125rem var(--secondary-theme-color),
                0 0 0 0.25rem var(--shadow-color-yellow);
    transition: var(--all-transitions);
}
.form:hover{
    box-shadow: 0 0 0 0.25rem var(--text-color),
    0 0 0.5rem 0 var(--shadow-color-yellow),
    0 0 0.75rem 0 var(--shadow-color-yellow),
    0 0 0.1rem 0 var(--shadow-color-yellow);
}
.form__label{
    font-size: 1rem;
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: antiquewhite;
}
.form__input{
    font-size: 1rem;
    width: 80%;
    border: blue solid 2px;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px black;
}

.form-button{
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: lightgreen;
    font-size: 1rem;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 2px black; 
}
.form-button:hover{
    transform: scale(1.05);
}

