@import url(./header.css);
@import url(./login.css);
@import url(./contacto.css);
@import url(./products.css);

:root{
    --background-color: #17a2b8;
    --secondary-theme-color: #282c34;
    --shadow-color: #8888;
    --body-color: #e3f2fd;
    --primary-highlight: #008000;
    --shadow-color-yellow: #fff000;
    --text-color: #fff;
    --padding-container: 0 2em;
    --max-width-container: 1024px;
    --all-transitions: all 0.25s;
    --border-radius: 0.5rem;
}

.body{
    background-color: var(--body-color);
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}
main{
    width: 100%;
    min-height: 200vh;
}
