:root{
    --secondary-theme-color: #282c34;
    --shadow-color: #8888;
    --body-color: #f5f5db;
    --primary-highlight: #008000;
    --shadow-color: #fff000;
    --padding-container: 0 2em;
    --max-width-container: 1024px;
    --all-transitions: all 0.25s;
}

.body{
    background-color: var(--body-color);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.body-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 5rem;
    text-align: center;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: royalblue;
    
}
.header-nav{
    padding: 0.5em 0;
}
.header-nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
}

.header-nav__link-logo-container{
    display: flex;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--all-transitions);
}
.header-nav__link-logo-container:hover{
    box-shadow: 0 0 0.25rem 0 var(--shadow-color),
    0 0 0.5rem var(--shadow-color);
} 
.header-nav__link-logo{
    height: 100%;
}

.header-nav__menu-link-list{
    
    display: flex;
    font-family: 'Grape Nuts', cursive;
    font-size: 1.25rem;
    list-style: none;
    gap: 1rem;
    transition: var(--all-transitions);
}

.header-nav__menu-link-item{
    
    display: flex;
    
}
.header-nav_menu-link{
    font-size: 1.35rem;
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: var(--all-transitions);
}
.header-nav_menu-link:hover{
    transform: scale(1.25);
}


.body-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--body-color);
    padding: 1rem;
    width: auto;
    height: auto;
    
}
.login-body-link{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-highlight);
    transition: var(--all-transitions);
    
}
.login-body-link::before{
    content: "👈";
    position: relative;
    bottom: 4px;
    margin: 0.5rem;
}
.login-body-link:hover{
    transform: scale(1.25);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5a7cd2bf;
    padding: 0.5rem;
    border-radius: 1rem;
    gap: 0.75rem;
    width: 300px;
    border: 4px solid yellow;
}
.form__label{
    font-size: 1rem;
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: antiquewhite;
}
.form__input{
    font-size: 1rem;
    border: blue solid 2px;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px black;
}

.form-button{
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: lightgreen;
    font-size: 1rem;
    padding: 15px;
    font-weight: bold;
    
}
.form-button:hover{
    box-shadow: 2px 2px 2px black; 
}

.body-contacto{
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-body-link{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-highlight);
    transition: var(--all-transitions);
}

.contacto-body-link::before{
    content: "👈";
    position: relative;
    bottom: 4px;
    margin: 0.5rem;
}
.contacto-body-link:hover{
    transform: scale(1.25);
}

.body-contacto-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table{
    border: 2px double black;
    width: 50%;
}
.table-header{
    font-size: 20px;
    background-color: beige;
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.table__row{
    background-color: aquamarine;
    color: green;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th,td{
    border: 2px double black;
}

.main{
    position: relative;
    top: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
}
.article{
    display: flex;
}
.article-container{
    display: flex;
    padding: 0 2rem;
    
}
.article__card{
    background-color: #5a7cd2bf;
    max-width: 256px;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    border: 4px solid black;
}
.article__card-title{
    font-size: 1.5rem;
    margin: 0;
}
.article__card-keywords{
    font-size: 1rem;
    margin: 0;
}
.article__card-image{
    border: 2px solid black;
    border-radius: 6px;
}
.article-card-button{
    font-size: 1rem;
    margin: 0;
    padding: 0.25rem;
    background-color: black;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}
